.container-comment{
    display: flex;
    justify-content: center;
}

.comment-card{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 90%;
    height: auto;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
}
.comment-form-section img{
    width: 50px;
}

.comment-form-section{
    display: flex;
    width: 40%;
    margin-right: 20px;
}
.comment-form-input{
    width: 100%;
}

.comment-form-input input, textarea{
    width: 100%;
    border-radius: 10px;
}

.comment-form-input button{
    border-radius: 10px;
    background: rgb(65, 74, 151);
    height: 30px;
}

.comment-section{
    width: 50%;
}